<div class="container">
  <div class="slider">
    <div class="box1">
      <h2 class="text-center txt-1">NUOVI OUTFIT</h2>
      <h4 class="text-center txt-2">LE NOVITÀ PER ABBIGLIAMENTO DA CICLISMO</h4>
    </div>
    <div class="box2 ">
      <h2 class="text-center txt-1">LASCIA I SENTIERI</h2>
      <h4 class="text-center txt-2">LE NUOVE MTB E BICI GRAVE</h4>
    </div>
    <div class="box3">
      <h2 class="text-center txt-1">RIPARA LA TUA BIKE</h2>
      <h4 class="text-center txt-2">NUOVE ACCESSORI E PEZZI SOSTITUTIVI</h4>
    </div>
    <div class="box4">
      <h2 class="text-center txt-1">SCOPRI LA CITTÀ</h2>
      <h4 class="text-center txt-2">NUOVE CITY BIKE PER MIGLIORARTI LA VITA</h4>
    </div>
    <div class="box5">
      <h2 class="text-center txt-1">SCOPRI ELOPS</h2>
      <h4 class="text-center txt-2">BICI DI QUALITÀ MADE IN ITALY</h4>
    </div>
    <div class="box6">
      <h2 class="text-center txt-1">RAGAZZI ALL'AVVENTURA</h2>
      <h4 class="text-center txt-2">BICI PER RAGAZZI</h4>
    </div>
    <div class="box7">
      <h2 class="text-center txt-1">SCOPRI GOCYCLE</h2>
      <h4 class="text-center txt-2">BICI PIEGHEVOLI CON PEDALATA ASSISTITA</h4>
    </div>
  </div>
</div>
<div id="test"></div>


