<div class="container">
  <div class="slider">
    <div class="box1" (click)="goToProducts('Shorts')">
      <h2 class="text-center txt-1">NEW OUTFITS</h2>
      <h4 class="text-center txt-2">THE NEWEST IN CYCLING CLOTHING</h4>
    </div>
    <div class="box2 " (click)="goToProducts('Mountain Bikes')">
      <h2 class="text-center txt-1">LEAVE THE PATHS</h2>
      <h4 class="text-center txt-2">THE NEW MTB AND GRAVE BIKES</h4>
    </div>
    <div class="box3" (click)="goToProducts('Tires and Tubes')">
      <h2 class="text-center txt-1">FIX YOUR BIKE</h2>
      <h4 class="text-center txt-2">NEW ACCESSORIES AND REPLACEMENT PARTS</h4>
    </div>
    <div class="box4" (click)="goToProducts('Road Bikes')">
      <h2 class="text-center txt-1">DISCOVER THE CITY</h2>
      <h4 class="text-center txt-2">NEW CITY BIKES TO IMPROVE YOUR LIFE</h4>
    </div>
    <div class="box5" (click)="goToProducts('Mountain Bikes')">
      <h2 class="text-center txt-1">ONWARD TO ADVENTURE</h2>
      <h4 class="text-center txt-2">BIKES FOR KIDS</h4>
    </div>
    <div class="box6" (click)="goToProducts('Handlebars')">
      <h2 class="text-center txt-1">CHECK OUT GOCYCLE</h2>
      <h4 class="text-center txt-2">FOLDING HANDLERBAR FOR PEDAL ASSISTED BIKES</h4>
    </div>
  </div>
</div>
<div id="test"></div>


