<section>
  <div class="container-fluid px-5 mb-3">
    <h1 class="title pt-sm-5 my-md-4 mb-5 pb-5">Top Brand</h1>
    <div class="row row-cols-3 row-cols-md-5 g-5">
      <div class="col-12 col-md-3 play-border mt-5" (click)="goToProducts('Derailleurs')">
        <div class="text-center ">
           <img class="img-fluid resize" src="assets/img-sectionThree/Bontrager.JPG" alt="">
        </div>
      </div>
      <div class="col-12 col-md-3 play-border mt-5" (click)="goToProducts('Locks')">
        <div class="text-center">
           <img class="img-fluid resize" src="assets/img-sectionThree/shimano.JPG" alt="">
        </div>
      </div>
      <div class="col-12 col-md-3 play-border mt-5" (click)="goToProducts('Forks')">
        <div class="text-center">
          <img class="img-fluid resize" src="assets/img-sectionThree/Castrelli.JPG" alt="">
        </div>
      </div>
      <div class="col-12 col-md-3 play-border mt-5" (click)="goToProducts('Chains')">
        <div class="text-center">
          <img class="img-fluid resize" src="assets/img-sectionThree/Northway.JPG" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
