.TM{
  vertical-align: middle;
}

/* .resize
{
  max-width: 50%;
}

.resize:hover
{
  max-width: 100%;
} */

.play-border{
  opacity: .5;
  cursor: pointer;
  background-color: #FF5722;
  height: 3px;
}

.play-border:hover{
  opacity: 1;
  border-bottom: 2px solid /* #2D64E6 */ #FF5722;
  cursor: pointer;
}

.play-border2{
  opacity: .5;
  cursor: pointer;
}

.play-border2:hover{
  opacity: 1;
  border-bottom: 2px solid /* #2D64E6 */ #FF5722;
}

@media (max-width:768px){
  .play-border span{
      display: none;
  }

  .play-border2 span{
      display: none;
  }
}

.title{
  text-align: center;
  margin-bottom: 1em;
}

.font{
  font-size: medium;
}

.text-margin{
  margin-top: 5.5em;
}


/* img{
  object-fit: cover;
} */
