.TM{
  vertical-align: middle;
}

/* .resize
{
  max-width: 50%;
}

.resize:hover
{
  max-width: 100%;
} */

/* Aggiungi il seguente codice CSS per creare la transizione */
div .row  
{
  position: relative;
}

.play-border {
  cursor: pointer;
  position: relative; /* Assicurati che il contenitore abbia una posizione relativa */
  transition: transform 0.3s ease;
}

.play-border:hover {
  border-radius: 10px;
  border-bottom: 3px solid #FF5722;
  transform: translateY(-10px); /* Sposta l'elemento di 5px verso destra durante la transizione */
}


.play-border2{
  opacity: .5;
  cursor: pointer;
}

.play-border2:hover{
  opacity: 1;
  border-bottom: 2px solid /* #2D64E6 */ #FF5722;
}

@media (max-width:768px){
  .play-border span{
      display: none;
  }

  .play-border2 span{
      display: none;
  }
}

.title{
  text-align: center;
  margin-bottom: 1em;
}

.font{
  font-size: medium;
}

.text-margin{
  margin-top: 5.5em;
}


/* img{
  object-fit: cover;
} */
