
<!-- cart.component.html -->
<ul class="d-flex flex-wrap mg-ul">
  <li *ngFor="let item of items; let idx = index">
    <div class="card my-4 mx-4" style="width: 18rem;">
      <img class="card-img-top img-db" [src]="getThumbnailImageURL(item.product.thumbNailPhoto)" alt="Thumbnail">
      <div class="card-body">
        <p class="card-text">{{ item.product.categoryName }}</p>
        <h5 class="card-title">{{ item.product.name }}</h5>
        <p class="card-text">Price: {{ item.product.listPrice }}€</p>
        <p class="card-text">Quantity: {{ item.quantity }}</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
        <button type="button" (click)="removeItem(idx)">Remove</button>
        <input type="number" [value]="item.quantity" (change)="updateQuantity($event, idx)">

      </div>
    </div>
  </li>
</ul>
<div class="container">
  <h2 class="mt-5 mb-4">Angular Stripe Checkout Example</h2>
  <div class="col-md-5 mb-2">
    <button (click)="makePayment(getSubtotal())" class="btn btn-danger btn-block">{{getSubtotal()}}</button>
  </div>
</div>
