<div class="container mg-ul">
  <div class="row">
    <!-- mostra prodotti carrello -->
    <div class="col-9">
      <h1 class="mt-5"  *ngIf="items.length != 0">Cart:</h1>
      <ul class="">
        <li *ngFor="let item of items; let idx = index" class="product-list mt-5">
          <!-- <div class="card my-4 mx-4" style="width: 18rem;">   card vecchia
            <img class="card-img-top img-db" [src]="getThumbnailImageURL(item.product.thumbNailPhoto)" alt="Thumbnail">
            <div class="card-body">
              <p class="card-text">{{ item.product.categoryName }}</p>
              <h5 class="card-title">{{ item.product.name }}</h5>
              <p class="card-text">Price: {{ item.product.listPrice }}€</p>
              <p class="card-text">Quantity: {{ item.quantity }}</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
              <button type="button" (click)="removeItem(idx)">Remove</button>
              <input type="number" [value]="item.quantity" (change)="updateQuantity($event, idx)">              
            </div>
          </div> -->
          <div class="card mb-3">
            <div class="row g-0">
              <div class="col-md-4 mt-3 ms-3 me-3">
                <img class="card-img align-items-center" [src]="getThumbnailImageURL(item.product.thumbNailPhoto)" alt="Thumbnail">
              </div>
              <div class="col-md-7">
                <div class="card-body">
                  <p class="card-text">{{ item.product.categoryName }}</p>
                  <h5 class="card-title">{{ item.product.name }}</h5>
                  <p class="card-text">Price: {{ item.product.listPrice }}€</p>
                  <p class="card-text">Quantity: {{ item.quantity }}</p>
                  <a href="#" class="btn btn-primary me-2 btn-color">Go somewhere</a>
                  <button type="button" class="btn btn-primary btn-color me-2" (click)="removeItem(idx)">Remove</button>
                  <input type="number" class="custom-input" [value]="item.quantity" (change)="updateQuantity($event, idx)">
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>

      <!-- se il cart è vuoto -->
      <div *ngIf="items.length === 0"><h1 class="text-found mt-5">Cart is empty <i class="bi bi-cart-x"></i></h1></div>
    </div>
    <!-- price check -->
    <div class="col-3 checkout mt-5">
      <h2 class="mt-5 mb-4">Checkout</h2>
      <div class="mb-2">
        <button (click)="makePayment(getSubtotal())" class="btn subtotal btn-block mb-5">{{getSubtotal()}}</button>
        <div class="accordion mb-1" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                Shipping and delivery
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Return policies
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Payment methods
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <strong>This is the third item's accordion body. <i class="bi bi-credit-card"></i></strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

