
<div *ngFor="let p of orderHistory; let idx = index" class="col-11 text-center margine mx-5">
  <h2>Ordini di {{p.customerId}}</h2>

  <table class="table table-bordered mx-auto mb-5">
    <thead>
      <tr>
        <th scope="col">Sales Order Id</th>
        <th scope="col">orderQty</th>
        <th scope="col">productId</th>
        <th scope="col">subTotal</th>
        <th scope="col">orderDate</th>
        <th scope="col">unitPrice</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{p.salesOrderId}}</td>
        <td>{{p.orderQty}}</td>
        <td>{{p.productId}}</td>
        <td>{{p.subTotal}}</td>
        <td>{{p.orderDate}}</td>
        <td>{{p.unitPrice}}</td>
      </tr>

      <!-- subtotale da inserire -->

    </tbody>
  </table>
</div>


