
<div *ngFor="let p of orderHistory; let idx = index" class="col-8 text-center margine">
  <h2>Ordini di {{p.customerId}}</h2>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Sales Order Id</th>
        <th scope="col">orderQty</th>
        <th scope="col">productId</th>
        <th scope="col">subTotal</th>
        <th scope="col">orderDate</th>
        <th scope="col">unitPrice</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{p.salesOrderId}}</td>
        <td>{{p.orderQty}}</td>
        <td>{{p.productId}}</td>
        <td>{{p.subTotal}}</td>
        <td>{{p.orderDate}}</td>
        <td>{{p.unitPrice}}</td>
      </tr>

      <!-- subtotale da inserire -->

    </tbody>
  </table>
</div>

<!-- pagination -->

<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">Next</a></li>
  </ul>
</nav>

