<!-- Immagine iniziale con descrizione -->
<section class="top">
  <section class="container-fluid">

    <div class="img-container">
      <img src="assets/img-bicycleDetails/tipiBici.jpg" class=" d-lg-block img-fluid" alt="promo bike">
        <h2 class="text-center">BIKE  TYPES</h2>
      </div>
  </section>

  <section  class="text-center p-3 p-xl-5 container-fluid m-auto bg-col">
    <p>Bikes have become an increasingly popular means of transport in recent years, thanks to their versatility and their ability to adapt to the needs of cyclists.<br> There are <b>different types of bicycles</b>, each with specific features to suit different activities, terrains and riding styles.
      <br>In this article we will explore the main types of bicycles and their characteristics.
  </p>
</section>

<div class="d-flex justify-content-center">
  <div class="w-75 ">

  <section  class="mt-5 container-xxl row m-auto px-0">
  <div class="col-12 col-lg-5 px-0">
  <div class="position-relative">
  <img class="w-100 img-bord" src="assets/img-bicycleDetails/strada.jpg" width="500" height="250" alt="promo bike">
  <div class="p-3 p-xl-5 position-absolute bottom-0 start-0 text-white">
  <div class="h3 text-uppercase">
  </div>
  </div>
  </div>
  </div>
  <div class="col-12 col-lg-7 align-self-center px-1 py-3 px-xl-3">
  <div class="text-center text-md-start">
  <h2 class="text-uppercase mb-4" style="color: #efa3c1">Road Bikes</h2>
  <p class="text-font">
    Road bikes are designed for speed and efficiency on the road. They feature a geometry that favors aerodynamics, with a forward-leaning riding position. This allows for reduced air resistance and optimum performance in terms of speed. Road bicycle frames are made of lightweight materials such as aluminum, carbon or titanium. This reduces the overall weight of the bike, improving pedaling efficiency and making climbing easier. Road bicycles use thin, slick-tread tires that offer less rolling resistance on the road surface. This allows you to reach high speeds and obtain good grip on the asphalt. These bikes are equipped with high-quality components, such as high-performance shifters and brakes. These components enable precise gear changes and effective braking, ensuring a good driving experience on the road.
  </p>
  </div>
  </div>
  </section>
  <section class="mt-5 container-xxl row m-auto px-0 flex-row-reverse">
  <div class="col-12 col-lg-5 px-0">
  <div class="position-relative">
  <img class="w-100 img-bord" src="assets/img-bicycleDetails/gravel.jpg" width="600" height="250" alt="promo bike">
  <div class="p-3 p-xl-5 position-absolute bottom-0 start-0 text-white">
  <div class="h3 text-uppercase">
  </div>
  </div>
  </div>
  </div>
  <div class="col-12 col-lg-7 align-self-center px-1 py-3 px-xl-3">
  <div class="text-center text-md-start">
  <h2 class="text-uppercase mb-4" style="color: #efa3c1">Gravel Bikes</h2>
  <p class="text-font">
    Gravel bikes are designed to tackle a variety of terrains, combining road and mountain bike characteristics. This type of bike has a geometry that offers stability and comfort both on paved roads and on rough dirt roads. Their riding position is more relaxed than a road bike, but more aggressive than a mountain bike. Gravel bike frames are built to withstand the rigors of mixed terrain. They are light and strong, often made from aluminum or carbon, and can be equipped with attachment points for mudguards and luggage racks. Gravel bikes feature wider tires than traditional road bikes, allowing for better traction on loose terrain. These tires also offer more comfort on long rides. Many gravel bikes are also equipped with disc brakes, which offer greater stopping power and reliability in different conditions. This is especially important when negotiating steep descents or muddy terrain.
  </p>
  </div>
  </div>
  </section>
  <section class="mt-5 container-xxl row m-auto px-0">
  <div class="col-12 col-lg-5 px-0">
  <div class="position-relative">
  <img class="w-100 img-bord" src="assets/img-bicycleDetails/country.jpg" width="600" height="250" alt="promo bike">
  <div class="p-3 p-xl-5 position-absolute bottom-0 start-0 text-white">
  <div class="h3 text-uppercase">

  </div>
  </div>
  </div>
  </div>
  <div class="col-12 col-lg-7 align-self-center px-1 py-3 px-xl-3">
  <div class="text-center text-md-start">
  <h2 class="text-uppercase mb-4" style="color: #efa3c1">Cross Country Bikes</h2>
  <p class="text-font">
    Cross Country bikes are designed for speed and efficiency over rough terrain. They have a geometry that favors quick response and agility. Their riding position is generally tilted forward, to optimize power transmission during pedaling. This type of XC bicycle is often equipped with a front suspension, known as a suspension fork, which helps absorb the shock of rough terrain. This allows the rider to maintain good traction and control. Cross Country bicycle frames are designed to be light and stiff, using materials such as aluminum or carbon. This reduces the overall weight of the bike, improving pedaling efficiency and making climbing easier. XC bikes use thinner and faster tires than other types of mountain bikes. These tires offer less rolling resistance, allowing the rider to push their speed over terrain
  </p>
  </div>
  </div>
  </section>
  <section class="mt-5 container-xxl row m-auto px-0 flex-row-reverse">
  <div class="col-12 col-lg-5 px-0">
  <div class="position-relative">
  <img class="w-100 img-bord" src="assets/img-bicycleDetails/enduro.jpg" width="600" height="250" alt="promo bike">
  <div class="p-3 p-xl-5 position-absolute bottom-0 start-0 text-white">
  <div class="h3 text-uppercase">

  </div>
  </div>
  </div>
  </div>
  <div class="col-12 col-lg-7 align-self-center px-1 py-3 px-xl-3">
  <div class="text-center text-md-start">
  <h2 class="text-uppercase mb-4" style="color: #efa3c1">Enduro bikes</h2>
  <p class="text-font">
    Enduro bikes are designed to tackle technical and challenging terrain, combining climbing ability with great descending ability. They are equipped with full suspension both front and rear. This suspension offers increased shock absorption and better traction in rough terrain. Enduro bikes feature a geometry that offers stability and control on challenging descents. They feature a slacker head angle and a longer wheelbase, providing greater stability at high speed. Enduro bicycle frames are built to withstand the rigors of technical terrain. They are made from robust materials such as aluminum or carbon and often feature additional reinforcements to increase durability. Enduro bikes use wide tires with aggressive tread pattern for better traction and control when going downhill. These tires are able to tackle rocky and muddy terrain with greater confidence.
  </p>
  </div>
  </div></section>
  <section class="mt-5 container-xxl row m-auto px-0">
  <div class="col-12 col-lg-5 px-0">
  <div class="position-relative">
  <img class="w-100 img-bord" src="assets/img-bicycleDetails/mountain.jpg" width="600" height="250" alt="promo bike">
  <div class="p-3 p-xl-5 position-absolute bottom-0 start-0 text-white">
  <div class="h3 text-uppercase">

  </div>
  </div>
  </div>
  </div>
  <div class="col-12 col-lg-7 align-self-center px-1 py-3 px-xl-3">
  <div class="text-center text-md-start">
  <h2 class="text-uppercase mb-4" style="color: #efa3c1">All-mountain bicycles</h2>
  <p class="text-font">
    All-mountain bikes are versatile and capable of tackling a wide range of terrain, combining Cross Country and Enduro features. All-mountain bicycles are equipped with an adjustable suspension that allows the rider to adapt it to different terrain conditions. They can be locked out for steep climbs or opened up for better shock absorption on descents. These bikes feature a geometry that offers a good balance between stability and agility. Their riding position is generally more upright than Enduro bikes, providing better pedaling power when climbing hills. All-mountain bicycle frames are built with strong, yet lightweight materials for durability and optimal performance. They can be made from aluminum or carbon, depending on the rider's preference. All-mountain bikes are fitted with tires that offer a good compromise between traction and speed. They have a more aggressive tread pattern than Cross Country bikes, allowing you to tackle more technical terrain with confidence.
  </p>
  </div>
  </div>
  </section>
  <section class="mt-5 container-xxl row m-auto px-0 flex-row-reverse">
  <div class="col-12 col-lg-5 px-0">
  <div class="position-relative">
  <img class="w-100 img-bord" src="assets/img-bicycleDetails/mtb.jpg" width="600" height="250" alt="promo bike">
  <div class="p-3 p-xl-5 position-absolute bottom-0 start-0 text-white">
  <div class="h3 text-uppercase">

  </div>
  </div>
  </div>
  </div>
  <div class="col-12 col-lg-7 align-self-center px-1 py-3 px-xl-3">
  <div class="text-center text-md-start">
  <h2 class="text-uppercase mb-4" style="color: #efa3c1">E-MTB Bikes</h2>
  <p class="text-font">
    E-MTBs are electric bicycles that offer assistance to the cyclist while pedaling, allowing you to tackle challenging terrain with less effort. These bicycles are equipped with an electric motor integrated in the front hub or crankset, which provides assistance to the cyclist while pedalling. This allows you to tackle steep climbs or difficult terrain with greater ease. They are equipped with a rechargeable battery, usually located on the frame. Battery capacity varies, but in general it will provide enough range for long hikes over challenging terrain. They can also be equipped with front or full suspension, depending on the type of terrain you intend to tackle. The suspension helps absorb bumps and improves traction over rough terrain. They offer several adjustable assistance modes, allowing the rider to choose the desired level of support. This allows you to adapt to different terrain conditions and manage battery life as needed.
  </p>
  </div>
  </div>
  </section>
  <section class="mt-5 container-xxl row m-auto px-0">
  <div class="col-12 col-lg-5 px-0">
  <div class="position-relative">
  <img class="w-100 img-bord" src="assets/img-bicycleDetails/urban.jpg" width="600" height="250" alt="promo bike">
  <div class="p-3 p-xl-5 position-absolute bottom-0 start-0 text-white">
  <div class="h3 text-uppercase">

  </div>
  </div>
  </div>
  </div>
  <div class="col-12 col-lg-7 align-self-center px-1 py-3 px-xl-3">
  <div class="text-center text-md-start">
  <h2 class="text-uppercase mb-4" style="color: #efa3c1">Trekking/Urban Bikes</h2>
  <p class="text-font">
    Trekking/Urban bicycles are designed for daily mobility in urban areas and for excursions outside the city. They feature a geometry that offers an upright and comfortable riding position. This promotes visibility and reduces fatigue on long rides. The frames of Trekking/Urban bicycles are built to withstand the stresses of daily use. They are often made from steel or aluminum and can feature attachment points for fenders, racks and lights. Trekking/Urban bicycles are equipped with practical accessories such as mudguards, luggage racks and lights, which facilitate the transport of loads and improve visibility in low light conditions. These bicycles mount multi-purpose tyres, capable of tackling both paved roads and light dirt roads. These tires offer a good combination of rolling resistance and traction.
  </p>
  </div>
  </div>
  </section>
  <section class="mt-5 container-xxl row m-auto px-0 flex-row-reverse mb-5">
  <div class="col-12 col-lg-5 px-0">
  <div class="position-relative">
  <img class="w-100 img-bord" src="assets/img-bicycleDetails/city.jpg" width="600" height="250" alt="promo bike">
  <div class="p-3 p-xl-5 position-absolute bottom-0 start-0 text-white">
  <div class="h3 text-uppercase">

  </div>
  </div>
  </div>
  </div>
  <div class="col-12 col-lg-7 align-self-center px-1 py-3 px-xl-3">
  <div class="text-center text-md-start">
  <h2 class="text-uppercase mb-4" style="color: #efa3c1">City Bikes</h2>
  <p class="text-font">
    City bikes, also known as city bicycles or urban bicycles, are designed for urban mobility and daily commuting. They feature a geometry that offers an upright and comfortable riding position. This promotes visibility and reduces fatigue when moving around town. City bicycle frames are built to withstand daily use and urban stress. They can be made from steel or aluminum and are designed to be sturdy and durable. City bikes are equipped with practical accessories such as mudguards, luggage racks, lights and bells. These accessories make it easier to transport objects and guarantee greater safety when moving around the city. This type of bicycle mounts versatile tyres, capable of tackling asphalt roads, sidewalks and various urban terrains. These tires offer a good combination of rolling resistance, grip and comfort when traveling around town.
  </p>
  </div>
  </div>
  </section>
  </div>
  </div>















































