*{
  margin-top: 0;
  padding: 0;
  box-sizing: border-box;
}
.top{
  margin-top: 80px !important;
}

.img-bord{
  border-radius: 15px;
}

.text-font{
  font-size: medium;
}

.bg-col {
  background-color: rgba(203, 198, 198, 0.23);
}

.img-container {
  position: relative;
  text-align: center;
}


.img-container h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
