<section >






  <section class="container-fluid">

      <img src="assets/img-bicycleDetails/tipiBici.JPG" class=" d-lg-block img-fluid" alt="promo bike">

  </section>

  <section  class="text-center p-3 p-xl-5 container-xxl m-auto">
  <p>Le biciclette sono diventate un mezzo di trasporto sempre più popolare negli ultimi anni, grazie alla loro versatilità e alla loro capacità di adattarsi alle esigenze dei ciclisti.<br> Esistono <b>diverse tipologie di biciclette</b>, ognuna con caratteristiche specifiche per adattarsi a diverse attività, terreni e stili di guida.
  <br>In questo articolo esploreremo le principali tipologie di biciclette e le loro caratteristiche.
  </p>
  </section>












































