.navbar{
  height: 80px;
}

.logo{
  height: 80px;
}

.nav-color{
  background-color: #272D26;
}

.drop{
  color: white !important;
}

.navbar a
{
    color: white;
}
.navbar a:hover
{
    color: #FF5722;
    font-size: 1rem;
}
.riquadro
{
  background-color: #272D26;
}

.user-icon{
  padding-top: 15px !important;
}

.search-input-nav
  {
    text-decoration: none;
    background-color: transparent !important; 
    border: 2px solid white   !important;
  }

.search-input-nav:hover
{
  border: 2px solid #FF5722   !important;
}
nav .search form button[type='submit']
{
  font-size: 18px;
  color: white;
  background: none;
}
nav .search form button[type='submit']:hover
{
  font-size: 18px;
  color:#FF5722;
  background: none;
  border-radius: 5px;
}
.search-input-nav::placeholder {
  color: white; /* Imposta il colore del testo del placeholder su bianco */
}

@media (max-width: 768px) {
  /* Nascondi il dropdown menu */
  .dropdown {
    display: none;
  }
}

/* Media query per schermi con larghezza massima di 768 pixel */
@media (max-width: 991px) {
  /* Cambia il colore di sfondo del bottone del toggler */
  .navbar-toggler {
    background-color: white;
  }
}

/* SEARCH

Stile per il container della search bar
.search-container {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 5px;
  background-color: #f2f2f2;
}

Stile per l'input della search bar
#searchInput {
  border: none;
  outline: none;
  background-color: transparent;
  margin-right: 5px;
}

Stile per il bottone della search bar
#searchButton {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 16px;
  color: #555;
}
 */
