.navbar{
  height: 80px;
}

.logo{
  height: 80px;
}

.nav-color{
  background-color: #272D26;
}

.drop{
  color: white !important;
}

.navbar a
{
    color: white;
}
.navbar a:hover
{
    color: #FF5722;
    font-size: 1rem;
}
.riquadro
{
  background-color: #272D26;
}

.user-icon{
  padding-top: 15px !important;
}

.search-input-nav
  {
    text-decoration: none;
    background-color: transparent !important;
    border: 2px solid white   !important;
  }

.search-input-nav:hover
{
  border: 2px solid #FF5722   !important;
}
nav .search div button[type='submit']
{
  font-size: 18px;
  color: white;
  background: none;
}
nav .search div button[type='submit']:hover
{
  font-size: 18px;
  color:#FF5722;
  background: none;
  border-radius: 5px;
}
.search-input-nav::placeholder {
  color: white;
}

.navbar-toggler {
  background-color: #272D26 !important;
  border-color:  #272D26 !important;
}

.bi-list{
  color: #FF5722;
  font-size: 35px;

}

.nav-link.active.dropdown.center.user-icon {
  padding: 0; /* Rimuove il padding predefinito */
  display: flex;
  align-items: center;
}

.user-icon {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.user-icon-link {
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  /* Nascondi il dropdown menu */
  .bar-lenght{
    max-width: 190px;
  }
}

/* Media query per schermi con larghezza massima di 768 pixel */
@media (max-width: 991px) {
  /* Cambia il colore di sfondo del bottone del toggler */
  .navbar-toggler {
    background-color: white;
  }
  .bar-lenght{
    max-width: 190px;
  }
}



