.btn-bord3
  {
    color: black;
    background: none;
    border-radius: 5px;
    border: 2px solid #FF5722;
  }
  .btn-bord3:hover
  {
    color: #FF5722;
    background: none;
    border-radius: 5px;
    /* border: 2px solid black; */
  }

  .scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #ff5622a4;
    color: #fff;
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .scroll-to-top:hover {
    background-color: #FF5722;
    transform: scale(1.1);
  }