
<h2 class="margine mb-5 ms-5">Betacomio Customer's List</h2>

<div class="mx-5">
  <!-- tabella customer -->
  <div class="col-12 text-center">
  
    <table class="table table-bordered mx-auto">
      <thead>
        <tr>
          <th scope="col">Customer Id</th>
          <th scope="col">FirstName</th>
          <th scope="col">LastName</th>
          <th scope="col">Email Address</th>
          <th scope="col">Phone</th>
          <th scope="col">Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of customer | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }; let i = index" [ngClass]="{'bg-primary': i % 2 === 0}">
          <td>{{p.customerId}}</td>
          <td>{{p.firstName}}</td>
          <td>{{p.lastName}}</td>
          <td>{{p.emailAddress}}</td>
          <td>{{p.phone}}</td>
          <td>{{p.modifiedDate}}</td>
          <td>
            <button type="button" class="button-del btn btn-col ms-2" (click)="deleteCustomer(p.customerId)">Delete</button>
          </td>
        </tr>
  
        <!-- subtotale da inserire -->
  
      </tbody>
    </table>
  </div>
</div>


 <!-- Aggiungi il componente di paginazione -->
 <pagination-controls class="my-pagination" (pageChange)="setPage($event)" [autoHide]="true"></pagination-controls>


