.mg-t{
  margin-top: 90px;
}

.filter{
  margin: 1em 3em;
  width: 150px;
}

.mg-ul{
  margin-left: 3em;
}

li{
  list-style-type: none;
}

.img-db{
  height: 180px;
}

.text-found{
  margin: 5em 12em;
}
