<section>
  <h1 class="title pt-sm-5 my-md-4">Ultime Uscite</h1>
  <div class="container-fluid px-5 my-3">
    <div class="row row-cols-1">
      <div class="col-12 col-md-4 text-pad ">
        <div class="overflow-hidden">
          <img class="img-fluid bord" src="assets/img-sectionTwo/elettrico.JPG" alt="">
        </div>
        <p class="pt-3 fs-5">Scopri e prova la nuova generazione di pedalata assistita.</p>
        <div class="text-center">
          <button class="btn btn-bord3 mb-3">+ Info</button>
        </div>
      </div>
      <div class="col-12 col-md-4 text-pad ">
        <div class="overflow-hidden">
          <img class="img-fluid bord" src="assets/img-sectionTwo/elettrico.JPG" alt="">
        </div>
        <p class="pt-3 fs-5">Scopri e prova la nuova generazione di pedalata assistita.</p>
        <div class="text-center">
          <button class="btn btn-bord3 mb-3">+ Info</button>
        </div>
      </div>
      <div class="col-12 col-md-4 text-pad ">
        <div class="overflow-hidden">
          <img class="img-fluid bord" src="assets/img-sectionTwo/elettrico.JPG" alt="">
        </div>
        <p class="pt-3 fs-5">Scopri e prova la nuova generazione di pedalata assistita.</p>
        <div class="text-center">
          <button class="btn btn-bord3 mb-3">+ Info</button>
        </div>
      </div>
      <!-- <div class="col-12 col-md-4 overflow-hidden mb-3">
        <img class="img-fluid bord" src="assets/img-sectionTwo/elettrico.JPG" alt="">
      </div> -->
    </div>
  </div>
</section>
