<section>
  <div class="container-fluid px-5">
    <div class="row row-cols-1">
      <div class="col-12 col-md-5 text-pad ">
        <h1 class="pt-sm-5 pt-md-2">Bike</h1>
        <p class="py-3 fs-5">Sperimenta la nuova generazione di pedalata assistita.</p>
        <div class="btn btn-primary btn-bord3 rounded-pill">Maggiori informazioni</div>
      </div>
      <div class="col-12 col-md-7 overflow-hidden">
        <img class="img-fluid bord" src="assets/img-sectionTwo/elettrico.JPG" alt="">
      </div>
    </div>
  </div>
</section>
