<section>
  <div class="container-fluid px-5 overflow-hidden py-5">
    <div class="row row-cols-2 row-cols-sm-3 row-cols-xxl-6 g-3">
      <div class="col" (click)="goToProducts('Bike')">
        <div class="card-game active">
          <div class="img-container">
            <img class="img-fluid" src="assets/img-sectionTop/bike.jpg" alt="">
            <h6 class="text-center">BIKES</h6>
          </div>
        </div>
      </div>
      <div class="col" (click)="goToProducts('Wheels')">
        <div class="card-game">
          <div class="img-container">
          <img class="img-fluid" src="assets/img-sectionTop/ruota.png" alt="">
          <h6 class="text-center">WHEELS</h6>
        </div>
        </div>
      </div>
      <div class="col" (click)="goToProducts('Jerseys')">
        <div class="card-game">
          <div class="img-container">
          <img class="img-fluid" src="assets/img-sectionTop/abbigliamento.JPG" alt="">
          <h6 class="text-center">JERSEYS</h6>
        </div>
        </div>
      </div>
      <div class="col" (click)="goToProducts('Bottles and Cages')">
        <div class="card-game">
          <div class="img-container">
          <img class="img-fluid" src="assets/img-sectionTop/accessori.JPG" alt="">
          <h6 class="text-center">ACCESSORIES</h6>
        </div>
        </div>
      </div>
      <div class="col" (click)="goToProducts('Saddles')">
        <div class="card-game">
          <div class="img-container">

            <img class="img-fluid" src="assets/img-sectionTop/selle.JPG" alt="">
            <h6 class="text-center">SADDLES</h6>
          </div>
        </div>
      </div>
      <div class="col" (click)="goToProducts('Pedals')">
        <div class="card-game">
          <div class="img-container">

            <img class="img-fluid" src="assets/img-sectionTop/Pedali.jpg" alt="">
            <h6 class="text-center">PEDALS</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>