<div class="mg-t d-flex">
  <div>
    <h6 class="filter">Category:</h6>
    <form>
      <div class="filter d-flex" *ngFor="let filter of filters">
        <label [for]="filter.id" class="me-3">{{ filter.label }}</label>
        <input type="checkbox" [id]="filter.id" [name]="filter.id" [checked]="filter.selected" (change)="toggleFilter(filter)">
      </div>
    </form>
  </div>
  <div *ngIf="filteredEmployees.length > 0">
    <ul class="d-flex flex-wrap mg-ul">
      <li *ngFor="let p of filteredEmployees; let idx = index">
        <div class="card my-4 mx-4" style="width: 18rem; cursor: pointer;" (click)="GetDetail(p.productId)">
          <img class="card-img-top img-db" [src]="getThumbnailImageURL(p.thumbNailPhoto)
          " alt="Thumbnail">
          <div class="card-body">
            <p class="card-text">{{ p.categoryName }}</p>
            <h5 class="card-title">{{ p.name }}</h5>
            <p class="card-text">Price: {{ p.listPrice }}€</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
            <button type="button" (click)="addToCart(p)">Buy</button>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div *ngIf="filteredEmployees.length === 0"><h1 class="text-found">Not found</h1></div>

</div>





