 .mg-t{
  margin-top: 80px;
}

.filters {
  background-color: rgba(203, 198, 198, 0.23); /* Imposta il colore di sfondo del menu laterale */
  padding: 20px;
  border-right: 1px solid #ddd;
  height: 100%;
}

li{
  list-style-type: none;
}

.img-db{
  height: 180px;
}

.text-found{
  margin: 5em 12em;
}

.filter-title {
  font-weight: bold;
  margin-bottom: 10px;
}

.filter {
  margin-bottom: 10px;
}

.filter label {
  font-size: 14px;
}


.filter input[type="checkbox"] {
  margin-left: 5px;
}

/* Stile personalizzato per la checkbox quando è selezionata */
.filter input[type="checkbox"]:checked {
  background-color: #FF5722;
  border-color: #FF5722;
}

/* Nascondi il controllo predefinito della checkbox */
.filter input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #5a5a5a;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  position: relative;
}

/* Stile personalizzato per l'icona della spunta */
.filter input[type="checkbox"]:checked::after {
  content: "\2713";
  font-family: 'Bootstrap Icons';
  font-size: 16px;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.accordion{
  margin-top: 10px;
}

/* Stile per l'accordion (aperto e chiuso con gli stessi colori) */
.accordion-button {
  background-color: #ff5622d4 !important; /* Cambia il colore di sfondo e usa !important per sovrascrivere Bootstrap */
  border-color: #ff5622db !important; /* Cambia il colore del bordo e usa !important per sovrascrivere Bootstrap */
}

/* colori card */

.card{
  background-color: rgba(203, 198, 198, 0.23);
  border-radius: 20px;
  border: 3px solid transparent;
  transition: transform .6s;
  overflow: hidden;
}

.card:hover {
  border: 3px solid /* #2D64E6 */ #FF5722;
  transform: translateY(-5px);
  cursor: pointer;
}

.btn-col{
  background-color: #FF5722;
  border-color: #ff5622db;
  color: white;
  border-radius: 20px;
  
}

/* card modifiche */

.img-db{
  border-radius: 20px;
  padding: 10px;
}

/* Stile per schermi più piccoli (meno di 900px) */
@media (max-width: 900px) {
  .showhidefilter {
    display: none; /* Nascondi il menu laterale */
  }
  .accordion {
    display: block; /* Visualizza l'accordion */
  }
  .showhidesm{
    display: none;
  }
}




/* Stile per schermi grandi (900px e oltre) */
@media (min-width: 900px) {
  .showhidefilter {
    display: block; /* Visualizza il menu laterale */
  }
  .accordion {
    display: none; /* Visualizza l'accordion */
  }
}

.alert {
  /* Stili per l'avviso (colore, dimensioni, ecc.) */
  position: fixed;
  top: 15%;
  right: 40%;
  background-color: #FF5722;
  color: white;
  padding: 15px;
  border-radius: 5px;
 
}

.alert.show {
  opacity: 1;
}

