<div class="mg-t d-flex">
  <div class="col-md-2 showhidefilter">
    <div class="filters">
      <h4 class="filter-title mb-5">Filter by:</h4>
      <form>
        <ng-container *ngFor="let filter of filters; let last = last">
          <div class="filter">
            <div class="row align-items-center">
              <div class="col-9">
                <label [for]="filter.id">{{ filter.label }}</label>
              </div>
              <div class="col-3 pe-3">
                <input type="checkbox" [id]="filter.id" [name]="filter.id" [checked]="filter.selected" (change)="toggleFilter(filter)">
              </div>
            </div>
          </div>
           <!-- Aggiungi una linea hr tra le voci, eccetto l'ultima -->
          <hr class="hr-color" *ngIf="!last">
        </ng-container>
      </form>
    </div>
  </div>

  <div class="accordion col-12 me-0 pe-0" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Filter by
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <form>
            <ng-container *ngFor="let filter of filters; let last = last">
              <div class="filter">
                <div class="row align-items-center">
                  <div class="col-9">
                    <label [for]="filter.id">{{ filter.label }}</label>
                  </div>
                  <div class="col-3 pe-3">
                    <input type="checkbox" [id]="filter.id" [name]="filter.id" [checked]="filter.selected" (change)="toggleFilter(filter)">
                  </div>
                </div>
              </div>
               <!-- Aggiungi una linea hr tra le voci, eccetto l'ultima -->
              <hr class="hr-color" *ngIf="!last">
            </ng-container>
          </form>
        </div>
      </div>
      <!-- prodotti da mostrare quando c'è l'accoridon -->
        <ul class="d-flex flex-wrap">
          <li *ngFor="let p of filteredEmployees; let idx = index">
            <div class="card my-4 mx-4" style="width: 18rem; cursor: pointer;">
              <img class="card-img-top img-db" [src]="getThumbnailImageURL(p.thumbNailPhoto)
              " (click)="GetDetail(p.productId)" alt="Thumbnail">
              <div class="card-body">
                <p class="card-text">{{ p.categoryName }}</p>
                <h5 class="card-title">{{ p.name }}</h5>
                <p class="card-text">Price: {{ p.listPrice }}€</p>
                <a class="btn btn-col" (click)="GetDetail(p.productId)">Details</a>
                <button type="button" class="btn btn-col ms-2" (click)="addToCart(p)"><i class="bi bi-cart"></i></button>
              </div>
            </div>
          </li>
        </ul>
    </div>
  </div>

  <div *ngIf="filteredEmployees.length > 0" class="showhidesm">
    <ul class="d-flex flex-wrap m-auto p-auto">
      <li *ngFor="let p of filteredEmployees; let idx = index" >
         <div class="card my-4 mx-4" style="width: 18rem;  cursor: pointer;">
          <img class="card-img-top img-db" [src]="getThumbnailImageURL(p.thumbNailPhoto)
          " (click)="GetDetail(p.productId)" alt="Thumbnail">
          <div class="card-body">
            <p class="card-text">{{ p.categoryName }}</p>
            <h6 class="card-title">{{ p.name }}</h6>
            <p class="card-text">Price: {{ p.listPrice }}€</p>
            <a class="btn btn-col" (click)="GetDetail(p.productId)">Details</a>
            <button type="button" class="btn btn-col ms-2" (click)="addToCart(p)"><i class="bi bi-cart"></i></button>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div *ngIf="filteredEmployees.length === 0"><h1 class="text-found">Not found</h1></div>

</div>

<div class="alert" *ngIf="showAlert">
  Your item has been added to the cart
</div>



