<section>
  <h1 class="title pt-sm-5 my-md-4">Scopri di più sul Ciclismo</h1>
  <div class="container-fluid px-5 mb-5">
    <div class="row row-cols-1">
      <div class="col-12 col-md-7 overflow-hidden">
        <img class="img-fluid bord" src="assets/img-sectionFour/tipologiaBici.JPG" alt="">
      </div>
      <div class="col-12 col-md-5 text-margin">
        <h1 class="pt-sm-5 pt-md-2">Bike info</h1>
        <p class="py-3 font">Are you unsure on what bike to buy? Don't worry, there are many options to choose from! In this section, we will walk you through the different kinds of bikes available and help you decide which one is the right fit for you. From Road bikes to Mountain bikes, passing through the e-bikes and the city bikes, you'll discover their characteristics and all kinds of functions, so that you'll be able to make a conscious choice fit for your needs. Don't miss this complete guide on bike types available on Betacomio.</p>
        <div routerLink="/bycycle-details" class="btn btn-bord3">+ Info</div>
      </div>
    </div>
  </div>
</section>
