<section>
  <h1 class="title pt-sm-5 my-md-4">Scopri di più sul Ciclismo</h1>
  <div class="container-fluid px-5 mb-5">
    <div class="row row-cols-1">
      <div class="col-12 col-md-7 overflow-hidden">
        <img class="img-fluid bord" src="assets/img-sectionFour/tipologiaBici.JPG" alt="">
      </div>
      <div class="col-12 col-md-5 text-margin">
        <h1 class="pt-sm-5 pt-md-2">Spiegazioni Tipi di Bici</h1>
        <p class="py-3 font">Sei indeciso su quale bici comprare? Non preoccuparti, ci sono tante opzioni tra cui scegliere! In questo articolo, ti guideremo attraverso le varie tipologie di biciclette disponibili e ti aiuteremo a capire quale è quella giusta per te. Dalle bici da strada alle mountain bike, passando per le e-bike e le city bike, scoprirai le caratteristiche e le funzioni di ogni tipo di bici, in modo da poter fare una scelta consapevole e adatta alle tue esigenze. Non perdere questa guida completa sulle tipologie di bici disponibili da Nencini Sport.</p>
        <div routerLink="/bycycle-details" class="btn btn-bord3">+ Info</div>
      </div>
    </div>
  </div>
</section>
