<section class="bg-dark text-white py-4">
  <div class="container-fluid px-5">
    <h2 class="py-3">Best-selling products</h2>
    <h6 class="sf-5 pb-2 text-br mb-3">Amazing products on offer available now</h6>
    <ul class="row row-cols-2 row-cols-sm-3 row-cols-xxl-6 g-4">
      <li *ngFor="let p of filteredProducts; let idx = index" class="col"  (click)="goToProducts(p.name)">
          <img class="img-fluid rounded-4 dim mb-3" [src]="getThumbnailImageURL(p.thumbNailPhoto)
          " alt="Thumbnail">
          <div class="card-body">
            <h5 class="text-font">{{ p.name }}</h5>
          </div>
      </li>
    </ul>
  </div>
</section>